@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = "nowy"; - dodawnanie wlasnego layoutu
    ViewData["Title"] = "About";
}

<p>That's about</p>

@ViewBag.powitanie @ViewBag.Imie

@foreach (Dane d in Model)
{
    <p>@d.Name @d.Surname</p>
}
