@model Kalkulator.Models.Urodziny
@{
    ViewData["Title"] = "Formularz Urodzinowy";
}

<h1>Formularz Urodzinowy</h1>
<form action="Urodziny">
    <input type="text" asp-for="Imie"/>Imie
    <input type="number" asp-for="Rok"/>Rok
    <input type="submit" />
</form>


@ViewBag.powitanie